.custom-slide-from-left {
animation: slideFromLeft 0.5s ease-in-out;
border-bottom-left-radius: 5px;
border-bottom-right-radius: 5px;
}

.navbar-nav {
text-align: center;
width: 100%;
}

@keyframes slideFromLeft {
from {
transform: translateX(100%);
}
to {
transform: translateX(0);
}
}

@media (max-width: 768px) {
.navbar-toggler {
width: 100px;
height: 50px;
font-size: 1.5rem;
float: right;
}
}

@media (max-width: 991px) {
.navbar-toggler {
width: 100px;
height: 50px;
font-size: 1.5rem;
float: right;
}
}
